<div class="animated fadeIn">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
    <a class="navbar-brand">
      <img [src]="basePath+'assets/img/brand/logo.svg'" width="100" height="40" class="d-inline-block align-top" alt="Mandiri Logo">
    </a>
    <div class="collapse navbar-collapse border-left">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link text-white">Integrated Testing System <strong>(iTime)</strong><span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="app flex-row align-items-center" [ngStyle]="styleHeaderLogin">
    <div class="container">
      <div class="app-body">
        <main class="main d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-10">
                <div class="card-group">
                  <div class="card py-5 d-md-down-none" style="width:44%; background-color: transparent; border-color: transparent">
                    <div class="card-body text-white">
                      <div>
                        <h2>Welcome</h2>
                        <p>Dear Colleague, <br>for further information please contact us</p>
                        <br>
                        <div class="text-left col-md-12">

                          <div class="form-group row">
                            <div class="col-md-1">
                              <i class="fa fa-phone"></i>
                            </div>
                            <div class="col-md-9">
                              <p class="form-control-static">&nbsp;14000</p>
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-md-1">
                              <i class="fa fa-envelope"></i>
                            </div>
                            <div class="col-md-9">
                              <p class="form-control-static"><a href="mailto:customersupport@bankmandiri.co.id" class="text-info">&nbsp;help@bankmandiri.co.id</a></p>
                            </div>
                          </div>


                          <div class="form-group row">
                            <div class="col-md-1">
                              <i class="fa fa-clock-o"></i>
                            </div>
                            <div class="col-md-9">
                              <p class="form-control-static">&nbsp;Operational Customer Service Monday - Friday,
                                09.00-18.00 WIB</p>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card p-4 rounded">
                    <div class="card-body">
                      <form [formGroup]="loginPage" (submit)="login($event)">
                        <h1>Login</h1>
                        <p class="text-muted">Sign In to your account</p>
                        <div class="input-group mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-user"></i></span>
                          </div>
                          <input type="text" class="form-control" placeholder="Username" formControlName="username">
                        </div>
                        <div class="input-group mb-4">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="icon-lock"></i></span>
                          </div>
                          <input type="password" class="form-control" placeholder="Password" formControlName="password">
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <button type="submit" [disabled]="loginPage.pristine" class="btn btn-primary px-4">Login
                              <span id="login-loader" style="display: none"><i class="fa fa-spinner fa-spin"></i></span>
                            </button>
                          </div>
                          <div class="col-md-6 text-right">
                            <button type="button" class="btn btn-link px-0" popover="Silahkan Hubungi Admin."
                              popoverTitle="Forgot Password" triggers="focus">Forgot password?
                            </button>
                            <br>
                            <button type="button" class="btn btn-link px-0" (click)="register()">Register
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>
