.sticky-custom {
  // position: fixed;
  // top: 120px;
  // right: 30px;
  // left: 229px;
  // z-index: 1030;
  // background-color: #E4E5E6;
  // text-align: center;
  position: fixed;
  z-index: 1030;
  background-color: #E4E5E6;
}

.pt {
    padding-top: 70px;
}
